.About-text {
  padding-left: 110px;
  padding-top: 25px;
  padding-right: 110px;
  padding-bottom: 110px;
}

.About-title {
  font-family: "Skranji", cursive;
  font-size: 88px;
}

.About-typewriter {
  border-right: solid 3px var(--yellow);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 22px;
  color: var(--lightyellow);
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 401px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: var(--yellow);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes stretch {
  0%,
  100% {
    height: 32vh;
  }
  5% {
    height: 33vh;
  }
  10% {
    height: 34vh;
  }
  15% {
    height: 35vh;
  }
  20%,
  95% {
    height: 36vh;
  }
  25% {
    height: 37vh;
  }
  30% {
    height: 38vh;
  }
  40%,
  90% {
    height: 40vh;
  }
  50% {
    height: 42vh;
  }
  60%,
  85% {
    height: 44vh;
  }
  70% {
    height: 46vh;
  }
  80% {
    height: 48vh;
  }
}
@keyframes sidestep {
  0%,100% {
    left: 35vw;
  }
  50% {
    left: 40vw;
  }
}
@keyframes levitate {
  0%,
  100% {
    padding-top: 2vh;
  }
  50% {
    padding-top: 5vh;
  }
}

.About-info {
  line-height: 150%;
  font-size: 18px;
}

.About-equ {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 22px;
  color: var(--lightyellow);
}

.About-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.About-stretch {
  padding-top: 11vh;
  position: absolute;
  width: 16vw;
  padding-left: 1vw;
  height: auto;
  animation: stretch 3s infinite;
}
.About-sidestep {
  position: absolute;
  width: 16vw;
  height: auto;
  padding-top: 13vh;
  left: 38vw;
  animation: sidestep 3s infinite;
}
.About-levitate {
  position: absolute;
  width: 16vw;
  height: auto;
  left: 66vw;
  animation: levitate 2s infinite;
}

.About-element {
  padding-left: 17vw;
  width: 100px;
  padding-right: 4vw;
  padding-top: 28vh;
  padding-bottom: 12vh;
}
