.Dojo-text {
  display:flex;
  flex-direction: column;
  padding-top: 14vh;
}

@keyframes grow {
  0%, 100% {
    font-size: 88px;
    margin-bottom:28px;
  }
  50% {
    font-size: 110px;
    margin-bottom: 0px;
  }
}

.Dojo-title {
  text-align: center;
  font-family: "Skranji", cursive;
  /* font-size: 88px; */
  padding-bottom: 4vh;
  animation: grow 3s infinite;
}

.Dojo-container {
  padding: var(--l) var(--m);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Dojo-link {
  padding: var(--l) var(--m);
  background-color: var(--lightyellow);
  color: var(--darkred);
  font-family: "Recursive", sans-serif;
  font-size: var(--l);
  margin-right: var(--l);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 20%;
}
