.Dojo-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 14vh; */
  margin-top: 20px;
  height: 88vh;
  /* background-image: url("dojoclipart.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center; */
}

@keyframes grow {
  50% {
    font-size: 100px;
  }
  0%, 100% {
    font-size: 130px;
  }
}

.Dojo-title {
  margin-top:4px;
  text-align: center;
  padding-right: 30px;
  font-family: "Skranji", cursive;
  display:flex;
  align-items: center;
  justify-content: center;
  /* font-size: 88px; */
  height: 180px;  
  animation: grow 3s infinite;
  text-shadow: 2px 2px 5px var(--darkred);
}

.Dojo-container {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Dojo-link {
  padding: var(--l) var(--m);
  background-color: var(--lightred);
  color: white;
  font-family: "Recursive", sans-serif;
  font-size: var(--l);
  margin-right: var(--l);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 20%;
}

.Dojo-link:hover {
  background-color: var(--lightyellow);
  color: var(--darkred);
}

.ninjas{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top:25px;
  max-width: 800px;
}
