.Home-page {
  margin: 16px;
  /* background-image: url("./dojoclipart.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: center; */
}

.Home-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.Home-title {
  padding: 20px;
  margin: 8px;
}

.Home-title-text {
  font-family: "Skranji", cursive;
  font-size: 110px;
  /* padding-bottom: 4vh;
  padding-top: 6vh; */
  /* -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--darkred);
  text-shadow: 0px 1px 8px var(--darkred); */
}

.Home-slogan {
  font-family: "Skranji", cursive;
  font-size: 42px;
  padding-bottom: 6vh;
}

.Home-text {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--l);
}

.Home-link {
  color: var(--white);
  text-decoration: none;
}

.Home-button {
  background-color: var(--lightyellow);
  color: var(--darkred);
  font-family: "Skranji", cursive;
  font-size: 24px;
  border-radius: 12px;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.Home-button:hover {
  background-color: var(--darkred);
  color: var(--lightyellow);
}
