.Home-page {
  margin: 16px;
  /* background-image: url("./dojoclipart.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: center; */
}

.Home-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.Home-title {
  padding: 16px;
  padding-top: 100px;
  margin: 8px;
}

.Home-title-text {
  font-family: "Skranji", cursive;
  font-size: 110px;
  /* padding-bottom: 4vh;
  padding-top: 6vh; */
  /* -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--darkred);
  text-shadow: 0px 1px 8px var(--darkred); */
}

.Home-slogan {
  font-family: "Skranji", cursive;
  font-size: 42px;
  padding-bottom: 6vh;
}

.Home-text {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: var(--l);
}

.Home-link {
  color: var(--white);
  text-decoration: none;
}

.Home-button {
  background-color: var(--lightyellow);
  color: var(--darkred);
  font-family: "Skranji", cursive;
  font-size: 24px;
  border-radius: 12px;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  
	/* transform: scale(1); */
	animation: pulse 2s infinite;
}

/* @keyframes pulse {
	0% {
		transform: scale(1);
		
	}

	50% {
		transform: scale(1.1);
		
	}

	100% {
		transform: scale(1);
		
	}
} */

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--offwhite);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.Home-button:hover {
  background-color: var(--darkred);
  color: var(--lightyellow);
}



@keyframes hover {
  0%,
  100% {
    margin-top: 8px;
  }
  50% {
    margin-top: 0px;
  }
}
.ninja1 {
  position: absolute;
  top: 7vh;
  left: 10vw;
  width: 250px;
  animation: hover 5s infinite;
}
.ninja4 {
  position: absolute;
  top: 42vh;
  left: 6vw;
  animation: hover 3s infinite;
}
.ninja3 {
  position: absolute;
  top: 50vh;
  left: 74vw;
  width: 280px;
  animation: hover 2s infinite;
}
.ninja2 {
  position: absolute;
  top: 62vh;
  left: 25vw;
  animation: hover 1.5s infinite;
}
.ninja5 {
  position: absolute;
  top: 16vh;
  left: 76vw;
  animation: hover 4s infinite;
}
.ninja6 {
  position: absolute;
  top: 58vh;
  left: 50vw;
  width: 280px;
  animation: hover 2.5s infinite;
}

.ninja_all{
  height:200px;
  margin-top: 8px;
}