/* !!! Profile.css has parts used in Profile.js AND SingleInfo.js !!! */

.Profile-text {
  padding-left: 100px;
  padding-top: 15px;
  padding-right: 100px;
  padding-bottom: 110px;
}

.Profile-title {
  font-family: "Skranji", cursive;
  font-size: 76px;
}

.Profile-info {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.Profile-buttonContainer {
  padding-left: 16px;
}

.Profile-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--darkred);
  background-color: var(--lightyellow);
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px var(--yellow);
  margin: 8px 4px;
}
