/* !!! Profile.css has parts used in Profile.js AND SingleInfo.js !!! */

.Profile-page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--darkred); */
  width: 75%;
  padding: 16px;
  /* border-radius: 8px; */
  position: relative;
  
}


.Profile-title {
  font-family: "Skranji", cursive;
  font-size: 48px;
  text-align: center;
}

.Profile-info {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.Profile-buttonContainer {
  padding-left: 16px;
}

.Profile-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--darkred);
  background-color: var(--lightyellow);
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px var(--yellow);
  margin: 8px 4px;
}

.Profile-pic{
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--darkred);
  padding: 8px;
  background-color: var(--yellow);
}

.Highest-level{
  padding: 8px;
}

.pfp-btn{
  display: inline-block;
  font-family: "Recursive", sans-serif;
  border-radius: 4px;
  background-color: var(--lightred);
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 245px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom:8px;

}

.pfp-btn:hover{
  background-color: var(--yellow);
  /* color: var(--darkred); */
}

.pfp-img-frame{
  height: 200px;
  width: 200px;
  background-color: var(--offwhite);
  border-radius: 50%;
  border-color: var(--yellow);
  border-style: outset;
  border-width: 4px;
  margin: 8px;
  padding: 12px;
  position: relative;
}

.pfp{
  max-height: 100%;
  background-color: var(--offwhite);
  border-radius: 8px;
}

.corner-pic-topleft{
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(-1);
  max-height: 50px;

}

.corner-pic-topright{
  position: absolute;
  top: 0px;
  right: 0px;
  transform: scaleX(-1) scaleY(-1);
  max-height: 50px;
}

.corner-pic-bottomleft{
  position: absolute;
  bottom: 0px;
  left:0px;
  max-height: 50px;
}
.corner-pic-bottomright{
  position:absolute;
  bottom:0px;
  right:0px;
  transform: scaleX(-1);
  max-height: 50px;
}

.Highest-level{
  font-size: 20px;
}

.Star-funcs{
  font-size: 20px;
  display: block;
  padding: 16px;
  background-color: var(--darkred);
  border-radius: 8px;

}


.test{
  list-style-type: none;
  margin-left: 20px;
}

.test li::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 35px;
  background-image: url('../modules/ninja_star.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
}