
.Training-container {
  display: flex;
  flex-direction: column;
  padding: 10px 80px 40px 80px ;
}


.Training-title {
  font-family: "Skranji", cursive;
  font-size: 42px;
}


h1{
  margin-bottom: 4px;
}

/* training status stuff */
.Training-status-header{
  font-family: "Recursive", sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.training-status-status{
  font-family: 'Kalam', cursive;
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  /* font-family: "Recursive", sans-serif;
  margin-top: 8px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 0px; */
  border-radius: 8px;
  width: 160px;
  color: white;
  /* color: var(--darkred); */
  /* background-color:var(--lightyellow); */
}
.training-status-status span{
  color: var(--yellow);
}
.Training-top{
  display: inline-block;
}

/* sensei quote stuff */

.sensei-box{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  color: var(--darkred);
  margin-bottom: 4px;
  margin-top: 2px;
  margin-right: 4vw;
  width: 90%;

  /* margin-right: 8px;
  border-color: var(--yellow);
  border-style: double;
  border-width: 4px; */

}
.sensei-words{
  color: var(--offwhite);
  font-size: 16px;
  font-family: 'Kalam', cursive;
  padding-bottom: 0px;
  max-height: 100px;
}

.sensei-stuff{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sensei-image{
  height: 100px;
  padding: 8px;
}

.sensei-adjacent{
  display: flex;
  flex-direction: row;
}

.header-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.next-level-button{
  display: inline-block;
  font-family: "Recursive", sans-serif;
  border-radius: 4px;
  background-color: var(--lightred);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 4px;
}

.next-level-button:hover{
  background-color: var(--lightyellow);
  color: var(--darkred);
}



  /* font-family: 'Kalam', cursive; */

.note-words{
  font-family: "Recursive", sans-serif;
  color: var(--offwhite);
  font-size: 15px;
  padding-left: 20px;
  padding-bottom: 8px;
}

/* .sensei-note-box{
  height: 20px;
} */



/* popup stuff */

.Open-levels{
  display: inline-block;
  font-family: "Recursive", sans-serif;
  border-radius: 4px;
  background-color: var(--lightred);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 4px;
}

.Open-levels span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Open-levels span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Open-levels:hover span {
  padding-right: 25px;
}

.Open-levels:hover span:after {
  opacity: 1;
  right: 0;
}

.Select-level{
  display: inline-block;
  /* padding: 8px 16px; */
  width: 42px;
  height: 40px;
  font-size: 16px;
  font-family: "Recursive", sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--lightred);
  border: none;
  border-radius: 8px;
  margin: 8px 4px;
}

.Select-level:hover{
  background-color: var(--lightyellow);
  color: var(--darkred);
}

.Select-level:active{
  background-color: var(--lightyellow);

}

/* .ninja-scroll{
  background-image: url("./training_ninja_header.png");
  width: 900px;
  height: 270px;
  height: 150px;
  width: 200px;
  background-color: blue; */

  /* background-position: center; */
  /* background-size: contain;
  background-repeat: no-repeat;


} */


/* .Training-level {
  
} */

/* .Graph-container {
  
} */