.Training-container {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.Training-text {
  padding-top: 50px;
  font-family: "Recursive", sans-serif;
  
}

.Training-header{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.Training-info {
  /* padding-top: 10px; */
  font-family: "Recursive", sans-serif;
}

/* .Training-level {
  
} */

/* .Graph-container {
  
} */


/* .Navbar-link {
  color: var(--white);
  font-family: "Recursive", sans-serif;
  margin-right: var(--l);
  text-decoration: none;
  display: inline-block;
} */