* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Recursive", sans-serif;
  }
  
  .menu-container {
    position: relative;
    display: flex;
    /* left: 60px;
    justify-content: center;
    align-items: left; */

  }

  .container {
      position: left;
      padding-top: 60px;
  }
  

  .menu-trigger {
    background: #ffffff;
    font-family: "Recursive", sans-serif;
    border-radius: 8px;
    cursor: pointer;
    height: 40px;
    /* display: flex; */
    /* justify-content: left;
    align-items: left; */
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    /* vertical-align: middle; */
    /* transition: box-shadow 0.4s ease; */
    /* margin-left: 0px; */
    /* left: 0px; */
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 15px;
    margin: 0 10px;
  }
  
  /* .menu-trigger img {
    border-radius: 90px;
  } */
  
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: flex;
    top: 60px;
    left: 60px ;
    width: 170px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    max-height: 80px;
    overflow-y: scroll;

  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
    
  }
  
  .menu li a {
    font-family: "Recursive", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #333333;
    padding: 8px 15px;
    display: block;
  }
  