.Func-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--white);
  border-radius: 8px;
  max-width: 250px;
  width: 20vw;
  max-height: 60vh;
  padding: 8px;
  padding-right: 2vw;
}

.Star-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 16px;
}

.star-button {
  background-image: url("./ninja_star.png");
  background-size: 100%;
  background-color: transparent;
  background-repeat: none;
  border: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  color: var(--white);
  font-family: "Recursive", sans-serif;
}

.star-button:active {
  transform: rotate(-20deg);
}

.Star-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 95%;
  height: 50vh;
}
.Star-funcs-container {
  font-size: 12px;
  display: block;
  padding: 16px;
  background-color: var(--darkred);
  border-radius: 8px;
}
.test {
  list-style-type: none;
  margin-left: 0px;
}
.input-func {
  max-width: 120px;
}
