.GraphCard-container {
  display: flex;
  flex-direction: row;
}

.GraphCard-graph {
  /* padding-left: 40vh; */
  margin-top: 0px;

}
/* 
.GraphCard-graph {
  width: 60vh;
  height: 60vh;
} */

.layer {
  /* margin-top: 15vh; */
  /* margin-left: 10vw; */
  margin-bottom: 0px;

}

#plotSettings {
  width: 160px;

}

#plot {
  width: 550px;

}
