.Func-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--white);
  border-radius: 8px;
  max-width: 250px;
  width: 20vw;
  max-height: 60vh;
  padding: 8px;
  padding-right: 2vw;
}

.Star-button-container {
  display: flex;
  flex-direction: row;
}

.star-button {
  background-image: url("./ninja_star.png");
  background-size: 100%;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: var(--white);
}
.Star-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 95%;
  height: 50vh;
}
.Star-funcs-container {
  padding: 24px 0;
}
