.GraphCard-container {
  display: flex;
  flex-direction: row;
}

.GraphCard-graph {
  /* padding-left: 40vh; */
  padding-left: 0px;
  background-color: grey;

}
/* 
.GraphCard-graph {
  width: 60vh;
  height: 60vh;
} */

.layer {
  /* margin-top: 15vh; */
  /* margin-left: 10vw; */
  margin-right: 50px;
  background-color: grey;
  padding: 8px 8px 8px 8px;

}

#plotSettings {
  width: 160px;

}

#plot {
  width: 550px;

}
