.Navbar-container {
  background-color: var(--darkred);
  padding: var(--s) var(--m);
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Navbar-title {
  font-family: "Skranji", cursive;
  font-size: var(--l);
  color: var(--white);
  text-decoration: none;
  padding: 0 var(--m);
  flex-grow: 1;
  align-items: left;
}

.Navbar-link-container {
  align-items: right;
}

.Navbar-link {
  color: var(--white);
  font-family: "Recursive", sans-serif;
  margin-right: var(--xl);
  text-decoration: none;
  display: inline-block;
}

.Navbar-link:hover {
  color: var(--lightyellow);
}

.Navbar-button-google {
  background-color: transparent;
  color: var(--white);
  font-family: "Recursive", sans-serif;
  font-size: inherit;
  margin-right: var(--l);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.Navbar-button-google:hover {
  color: var(--lightyellow);
}

/* Dropdown */
.dropdown {
  display: inline-block;
  margin-right: var(--xl);
}

/* Dropdown button */
.dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: var(--white);
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.dropbtn:hover {
  color: var(--lightyellow);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--darkred);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  margin-left:-28px;
  flex-direction: column;
  text-align:center;
  padding-left: 10.5px;
  padding-top: var(--m);
  padding-bottom: var(--s);
}

.dropdown-padding {
  padding-top: var(--s);
  padding-bottom: var(--s);
  margin-right: 12px;
}
