/* .TrainingHint-text {
  color: #0000;
  background: linear-gradient(-90deg, #ffff 5px, #0000 0) 10px 0, linear-gradient(#ffff 0 0) 0 0;
  background-size: calc(200 * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.7s infinite steps(1), t calc(100 * 0.1s) steps(100) forwards;
}
@keyframes t {
  from {
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
} */
